<section>

    <div class="header">
        <img [src]="twimp.author.image" alt="Image of a twimp">
        <a [routerLink]="twimp.author.url">
            {{ twimp.author.id === currentUser ? 'By me' : 'by ' + twimp.author.fullName }}
        </a>
        <div class="date">Published on {{twimp.timestamp}}</div>
    </div>

    <div class="content">
        {{twimp.content}}
    </div>

    <hr class="line">

    @if (!currentUrl.includes("my-twimps")) {
    <div class="fav">
        <button class="icon" [ngClass]="{'icon-selected': twimp.favorite}" favTwimp>&#10084;</button>
    </div>
    }
</section>