<section>
    <div class="author_data">
        <img src={{author.image}} alt="User Image">
        <div class="name">
           {{author.fullName}}
        </div>
    </div>
    <nav>
        <ul>
            <li routerLinkActive="nav_list_item-selected">
                <a routerLink="/profile/{{author.id}}/my-twimps">My Twimps</a>
            </li>
            <li routerLinkActive="nav_list_item-selected">
                <a routerLink="/profile/{{author.id}}/favourite-twimps">My Favorites</a>
            </li>
        </ul>
    </nav>

</section>