<section>

    <div class="author_data">
        <img src="images/google-icon.png" alt="User Image">
        <div class="name">
            Queralt Sosa Mompel
        </div>
    </div>

    <nav>
        <ul>
            <li routerLinkActive="nav_list_item-selected">
                <a routerLink="/profile/my-twimps">My Twimps</a>
            </li>
            <li routerLinkActive="nav_list_item-selected">
                <a routerLink="/profile/favourite-twimps">My Favorites</a>
            </li>
        </ul>
    </nav>

</section>