<!--Example without blocks-->
<!--<section>
    <div *ngIf="twimps && twimps.length > 0; else noTwimps">
        <div *ngFor="let twimp of twimps; trackBy: trackByTwimpId">
            <tweempus-twimp-card [twimp]="twimp"></tweempus-twimp-card>
        </div>
    </div>
    <ng-template #noTwimps>
        <span>There are no twimps :(</span>
    </ng-template>
</section> -->

<!-- With modern Angular @ blocks -->
<section>
    @for (twimp of twimps | sortBy; track twimp.id) {
    <tweempus-twimp-card [twimp]="twimp"></tweempus-twimp-card>
    } @empty {
    <span></span>
    }
</section>