section {
    width: 100%;
    background: white;
}

.logo-background {
    width: 100%; 
    height: 60px;
    background: url("../../../../public/images/logo-top.png") no-repeat 5px 5px;
    background-size: contain;
}

section > button {
    position: absolute;
    top: 13px;
    right: 15px;
    border: none;
    background-color: white;
}