section {
    width: 90%;
    margin: 1em auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.35);
    padding: 3em;
    min-height: 300px;
}

img {
    margin: 0 auto 1em auto;
    display: block;
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}

form > label {
    font-size: 98%;
    word-spacing: -0.4pt;
    display: block;
    margin: 20px auto;
    width: 80%;
}

form > .error {
    font-size: 75%;
    word-spacing: -0.4pt;
    margin: 20px auto;
    width: 80%;
    color: red;
}

form > input {
    display: block;
    padding: 10px;
    margin: 20px auto;
    font-size: 110%;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    width: 60%;
}

form > input:focus {
    border-bottom: solid 2px #969696;
}

form > button {
    width: 80%;
    height: 50px;
    background-color: #d94f5c;
    margin: 30px auto 20px;
    display: block;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 110%;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

form > button:hover {
    transition: .35s ease-in-out;
    background-color: #993333;
}

form > button:active {
    transition: .35s ease-in-out;
    background-color: #c64652;
}

@media (min-width: 768px) {
    section {
        width: 60%;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}